﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="RoversListApp" ng-cloak>
<head>
    <title>Rover's List</title>
    <meta charset="utf-8" />
    <base href="/" />
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body ng-controller="AccountController as account">

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <img src="~/ngApp/Assets/logo.png" />
                    </li>
                    <li>
                            <a ng-href="/" aria-label="Home">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </a>
                    </li>
                    <li>
                        <a ng-href="/boards">Boards</a>
                    </li>
                    <li>
                        <a ng-href="/members">Locations</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Photos</a>
                    </li>
                    <li>
                        <a href="#">Stories</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Browse Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ng-href="/account" ng-show="account.isLoggedIn()">Account</a>
                        <a ng-href="/register" ng-show="!account.isLoggedIn()">Register</a>
                    </li>
                    <li>
                        <a ng-href="#" ng-show="account.isLoggedIn()" ng-click="account.logout()">Logout</a>
                        <a ng-href="/login" ng-show="!account.isLoggedIn()">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container -->
    </nav>
    <!-- End Navigation -->

    <div class="row">

        <!-- Left Sidebar -->
        <div id="leftbar"class="col-md-2">
            <!-- User Activity Well -->
            <div class="well">
                <h4>Recent User Activity</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">{{vm.screenName}}</a> posted a <a href="#">{{vm.boardType}}</a> at <span class="glyphicon glyphicon-time"></span> {{vm.timestamp}}
                    </li>
                    <li>
                        <a href="#">{{vm.screenName}}</a> posted a <a href="#">{{vm.boardType}}</a> at <span class="glyphicon glyphicon-time"></span> {{vm.timestamp}}
                    </li>
                    <li>
                        <a href="#">{{vm.screenName}}</a> posted a <a href="#">{{vm.boardType}}</a> at <span class="glyphicon glyphicon-time"></span> {{vm.timestamp}}
                    </li>
                </ul>
            </div>
            <!-- Random Photo Well -->
            <div class="well">
                <h4>Recent Photos</h4>
                <a href="#"><img style="object-fit:fill" src="{{account.randomPhotoList[0].photoPath}}" /></a>
            </div>
            <!-- Local Event Activity Well -->
            <div class="well">
                <h4>Local Event</h4>
                <ul class="list-unstyled">
                    <li>
                        <p><a href="/{{account.randomEvents[0].id}}">{{account.randomEvents[0].name}}</a></p>
                        <p>When: <span class="glyphicon glyphicon-time"></span>  {{account.randomEvents[0].date}}</p>
                        <p>Where: <a href="/{{account.randomEvents[0].locationId-1}}">{{account.randomEvents[0].locationName}}</a></p>
                    </li>
                </ul>
            </div>

            <!-- Regional Event Activity Well -->
            <div class="well">
                <h4>Regional Event</h4>
                <ul class="list-unstyled">
                    <li>
                        <p><a href="/{{account.randomEvents[1].id}}">{{account.randomEvents[1].name}}</a></p>
                        <p>When: <span class="glyphicon glyphicon-time"></span>  {{account.randomEvents[1].date}}</p>
                        <p>Where: <a href="/{{account.randomEvents[1].locationId-1}}">{{account.randomEvents[1].locationName}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Left Sidebar -->
        
        <!-- Main Middle -->
        <div id="main" class="col-md-8">
            <ng-view></ng-view>
        </div>
        <!-- End Main Middle -->

        <!-- Right Sidebar -->
        <div id="rightbar"class="col-md-2">
            <!-- Featured Dog Story Well -->
            <div class="well">
                <h4>Recent Story</h4>
                <h6><a href="/{{account.randomStoryList[1].id}}">{{account.randomStoryList[1].name}}</a></h6>
                <h6>{{account.randomStoryList[1].description.slice(0,150)}}...</h6>
            </div>

            <!--  Sponsor Advertisement Well -->
            <div class="well imageWell">
                <!--<img src="vm.imageURL" />-->
                <img src="~/ngApp/Assets/ad.PNG" />
            </div>

            <!-- Featured Video Well -->
           
            <div class="well imageWell">
                <video class="featVid" controls="controls">
                    <source src="~/ngApp/Assets/LadyBirdadopted.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <!-- End Right Sidebar -->

    </div>

    <!-- Footer -->
    <div class="text-center">
        <p>Brought to you by <a href="#">underdogs</a> an affiliate of <a href="codercamps.com">CoderCamps Redmond </a>  </p>
        <p>Copyright &copy; <a href="#">RoversList</a> 2015</p>
    </div>
    <!-- End Footer -->
   

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular-google-maps.min.js"></script>

    @*// RGD: add scripts*@
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    @*// RGD: add scripts*@d

    <script src="~/ngApp/app.js"></script>

    <script src="~/ngApp/Controllers/accountControllers.js"></script>
    <script src="~/ngApp/Controllers/boardControllers.js"></script>

    <script src="~/ngApp/Services/accountServices.js"></script>
    <script src="~/ngApp/Services/boardServices.js"></script>

    
<script>
    var locations = [
{
    name: 'East Side Dogs',
    desc: 'Get your pooch outfitted and styling to the max!',
    lat: 47.6711981,
    long: -122.1190909
},
{
    name: 'Motley Zoo Animal Rescue',
    desc: 'We offer dog car service the proceeds of which help local animal rescue',
    lat: 47.6719224,
    long: -122.1170564
},
{
    name: 'Animal Emergency Hospital of Redmond',
    desc: 'Providing emergency animal care services for Redmond',
    lat: 47.6724660,
    long: -122.1206613
},
{
    name: 'Concierge Veterinary Service',
    desc: 'Come and have your pet be our guest',
    lat: 47.6731559,
    long: -122.1194784
}
    ];

angular.module('RoversListApp')
.controller('MapCtrl', function ($scope) {

    var mapOptions = {
        zoom: 14,
        center: new google.maps.LatLng(47.6715, -122.1188),
        mapTypeId: google.maps.MapTypeId.TERRAIN
    };

    $scope.map = new google.maps.Map(document.getElementById('map'), mapOptions);

    $scope.markers = [];

    var infoWindow = new google.maps.InfoWindow();

    var createMarker = function (info) {

        var marker = new google.maps.Marker({
            map: $scope.map,
            position: new google.maps.LatLng(info.lat, info.long),
            title: info.name
        });
        marker.content = '<div class="infoWindowContent">' + info.desc + '</div>';

        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.setContent('<h6>' + marker.title + '</h6>' + '<p>' + marker.content + '</p>' + '<a href="#">Reviews</a>' + '</p>' + '<a href="#">Photos</a>' + '</p>' + '<a href="#">Events</a>');
            infoWindow.open($scope.map, marker);
        });

        $scope.markers.push(marker);

    }

    for (i = 0; i < locations.length; i++) {
        createMarker(locations[i]);
    }

    $scope.openInfoWindow = function (e, selectedMarker) {
        e.preventDefault();
        google.maps.event.trigger(selectedMarker, 'click');
    }

});
</script>

</body>
</html>
