﻿
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-default" ng-href="/userProfile" ng-show="account.getUserProfileId() == null">Create User Profile</a>
            <a class="btn btn-default" ng-href="/userProfile" ng-show="account.getUserProfileId() != null">Update User Profile</a>
         </div>
    </div>
</div>

<hr />

<form name="changePasswordForm" ng-submit="account.changePassword()" novalidate>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="oldPassword">Old Password</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="oldPassword" id="oldPassword" type="password" ng-model="account.oldPassword" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-3">
            <div ng-show="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$error.required" class="error">
                Old Password is required.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="newPassword">New Password</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="newPassword" id="newPassword" type="password" ng-model="account.newPassword" ng-required="true" ng-trim="true" ng-minlength="6" />
        </div>
        <div class="col-md-4">
            <div ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.required" class="error">
                New Password is required.
            </div>
            <div ng-show="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$error.minlength" class="error">
                New Password must be at least 6 characters long.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="confirmPassword" id="confirmPassword" type="password" ng-model="account.confirmPassword" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-4">
            <div ng-show="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$error.required" class="error">
                Confirm Password is required.
            </div>
            <div ng-show="changePasswordForm.confirmPassword.$touched && account.newPassword !== account.confirmPassword" class="error">
                New Password and Confirm Password do not match.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <button type="submit" class="btn btn-default" ng-disabled="changePasswordForm.$invalid || account.newPassword !== account.confirmPassword">
                Change Password
            </button>
        </div>
        <div class="col-md-3">
            <label class="error">{{account.changePasswordMessage}}</label>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h5>Passwords must:</h5>
        <ul>
            <li>be at least 6 characters long</li>
            <li>have at least one uppercase letter ('A'-'Z')</li>
            <li>have at least one lowercase letter ('a'-'z')</li>
            <li>have at least one digit ('0'-'9')</li>
            <li>have at least one non letter or digit character</li>
        </ul>
    </div>
</div>
