﻿<h3>Save Board</h3>
<div>
    <span>Board Type: </span>{{vm.boardTypeId}}
</div>
<div>
    <span>Location: </span>{{vm.locationId}}
</div>
<div>
    <span>Name: </span>{{vm.name}}
</div>
<div>
    <span>Description: </span>{{vm.description}}
</div>
<div>
    <span>Only Board Creator Can Update Main Board Information: </span>{{vm.onlyCreatorCanUpdateMainBoardInfo}}
</div>
<div>
    <span>Only Board Creator Can Add Photos to this Board: </span>{{vm.onlyCreatorCanAddBoardPhotos}}
</div>
<div>
    <span>External Web Site related to this  Board: </span>{{vm.url}}
</div>
<div>
    <span>Photo Path: </span>{{vm.photoPath}}
</div>
<div>
    <span>Contact Email: </span>{{vm.email}}
</div>
<div>
    <span>Contact Phone Number: </span>{{vm.phoneNumber}}
</div>
<div>
    <span>Event Date: </span>{{vm.eventDate}}
</div>
<div>
    <span>Event Hours: </span>{{vm.eventHours}}
</div>
<div>
    <span>Event Sponsors: </span>{{vm.eventSponsors}}
</div>
<div>
    <span>Volunteer Opportunities: </span>{{vm.volunteerOpportunities}}
</div>
<div>
    <span>Inactive this Board: </span>{{vm.inactive}}
</div>
