﻿<h3>Board Details</h3>

<div class="well">
    <div>
        <h3>{{vm.board.name}}</h3>
    </div>
    <div>
        <h4>Description: {{vm.board.description}} </h4>
    </div>
    <div>
        <h5>Posted by <a href="#">{{vm.board.screenName}}</a> updated <span class="glyphicon glyphicon-time"></span> {{vm.board.updatedOn}}</h5>
    </div>

    <div>
        {{vm.board.addressLine1}}
        {{vm.board.addressLine2}}
    </div>
    <div>
        {{vm.board.city}} {{vm.board.stateCode}} {{vm.board.postalCode}}
    </div>

    <div>
        <a href="/board/{{board.id}}">edit</a>
    </div>

</div>
<h3>Photos</h3>
<div>
    <a href="/board/{{vm.board.id}}/photo/0">Add Photo</a>
</div>
<hr />

    <div ng-repeat="photo in vm.board.photos">

        <div class="container col-md-2 photoWell">
            <img src="{{photo.photoPath}}">
        </div>
    </div>

<h3>comments</h3>
<hr />
<h4>Add a Comment</h4> 
<textarea placeholder="Remember, be nice!" cols="150" rows="5"></textarea>

<div ng-repeat="comment in vm.board.comments">
    <div>
        {{comment.id}}
    </div>
    <div>
        {{comment.commentText}}
    </div>
    <div>
        {{comment.createdOn}}
    </div>
    <div>
        {{comment.inactive}}
    </div>
    <div>
        {{comment.commentFlagCount}}
    </div>
    <div>
        {{comment.boardId}}
    </div>
    <div>
        {{comment.userProfileId}}
    </div>
    <div>
        {{comment.screenName}}
    </div>
    <hr />
</div>

<hr />




    <!--<div>
        {{photo.id}}
    </div>
    <div>
        {{photo.photoPath}}
    </div>
    <div>
        {{photo.description}}
    </div>
    <div>
        {{photo.createdOn}}
    </div>
    <div>
        {{photo.updatedOn}}
    </div>
    <div>
        {{photo.inactive}}
    </div>
    <div>
        {{photo.photoFlagCount}}
    </div>
    <div>
        {{photo.boardId}}
    </div>
    <div>
        {{photo.userProfileId}}
    </div>
    <div>
        {{photo.screenName}}
    </div>
    <div>
        <a href="/board/{{vm.board.id}}/photo/{{photo.id}}">edit</a>
    </div>
    <hr />-->


<h3>Reviews</h3>
<hr />
<h4>Add a Review</h4>
<div>
    <textarea placeholder="Remember, be nice!" cols="150" rows="5"></textarea>

</div>
<div>
    <span>Rating: </span>{{vm.rating}}
</div>
<hr />
<div ng-repeat="review in vm.board.reviews">
    <div>
        {{review.id}}
    </div>
    <div>
        {{review.reviewText}}
    </div>
    <div>
        {{review.rating}}
    </div>
    <div>
        {{review.createdOn}}
    </div>
    <div>
        {{review.inactive}}
    </div>
    <div>
        {{review.reviewFlagCount}}
    </div>
    <div>
        {{review.boardId}}
    </div>
    <div>
        {{review.userProfileId}}
    </div>
    <div>
        {{review.screenName}}
    </div>
    <hr />
</div>

