﻿<h3>Boards</h3>
<div>
    <a href="/board/0">Add Board</a>
</div>
<hr />


<div ng-repeat="board in vm.boards">
    <div class="jumbotron">
        <div class="container">
            <h3>{{board.name}}</h3>
            <p><h4>Description: {{board.description}}</h4></p>
            <p><h6>Posted by <a href="#">{{board.screenName}}</a> and updated <span class="glyphicon glyphicon-time"></span> {{board.updatedOn}}</h6></p>
            <p><a class="btn btn-primary btn-lg" href="/{{board.id}}" role="button">Details &raquo;</a><a class="btn btn-primary btn-lg" href="/board/{{board.id}}" role="button">Edit &raquo;</a></p>
        </div>
    </div>

</div>



<div ng-repeat="board in vm.boards">
    <div class="well">
        <div>
            {{board.id}}
        </div>
        <div>
            {{board.name}}
        </div>
        <div>
            {{board.description}}
        </div>
        <div>
            {{board.updatedOn}}
        </div>
        <div>
            {{board.boardTypeId}}
        </div>
        <div>
            {{board.boardTypeName}}
        </div>
        <div>
            {{board.userProfileId}}
        </div>
        <div>
            {{board.screenName}}
        </div>
        <div>
            {{board.locationId}}
        </div>
        <div>
            {{board.locationName}}
        </div>
        <div>
            {{board.addressLine1}}
        </div>
        <div>
            {{board.addressLine2}}
        </div>
        <div>
            {{board.city}}
        </div>
        <div>
            {{board.stateCode}}
        </div>
        <div>
            {{board.postalCode}}
        </div>
        <div>
            {{board.latitude}}
        </div>
        <div>
            {{board.longitude}}
        </div>
        <div>
            <a href="/{{board.id}}">details</a>
        </div>
        <div>
            <a href="/board/{{board.id}}">edit</a>
        </div>

    </div>
    
</div>




