﻿
<form name="loginForm" ng-submit="account.login()" novalidate>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="userName">User Name (Email)</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="userName" id="userName" type="email" ng-model="account.username" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-3">
            <div ng-show="loginForm.userName.$touched && loginForm.userName.$error.required" class="error">
                User Name is required.
            </div>
            <div ng-show="loginForm.userName.$touched && loginForm.userName.$error.email" class="error">
                User Name is an email address.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="userPassword">Password</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="userPassword" id="userPassword" type="password" ng-model="account.password" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-3">
            <div ng-show="loginForm.userPassword.$touched && loginForm.userPassword.$error.required" class="error">
                Password is required.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-md-offset-3">
            <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>
        </div>
        <div class="col-md-3">
            <label class="error">{{account.loginMessage}}</label>
        </div>
    </div>

</form>

