﻿<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="/ngApp/Assets/img3.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Welcome to RoversList. </h1>
                    <p>A community for <span class="text-danger">Dogs</span> and their <span class="text-danger">Owners</span> or <span class="text-danger">Fans</span>.</p>
                    <p><a class="btn btn-lg btn-primary" ng-href="/register" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="/ngApp/Assets/img1.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Sharing is Caring.</h1>
                    <p>Become a member and help improve the community.</p>
                    <p><a class="btn btn-lg btn-primary" ng-href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="/ngApp/Assets/img2.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>A picture is worth a thousand words.</h1>
                    <p>.................</p>
                    <p><a class="btn btn-lg btn-primary" ng-href="/photos" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- /.carousel -->
</div>
<div class="text-center">
    <h3> View, navigate through, browse and create pins for events and places across your region using our RoversList Map </h3>
</div>
<img src="/ngApp/Assets/sampleMap.PNG" />


