﻿<h3>Save Photo</h3>
<div>
    <a href="/{{vm.boardId}}">Return to Board Details</a>
</div>
<div>
    <span>Photo: </span>{{vm.photoPath}}
</div>
<div>
    <span>Description: </span>{{vm.description}}
</div>
<div>
    <span>Inactive this Photo: </span>{{vm.inactive}}
</div>


