﻿
<form name="registerForm" ng-submit="account.register()" novalidate>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="userName">User Name (Email)</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="userName" id="userName" type="email" ng-model="account.username" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-3">
            <div ng-show="registerForm.userName.$touched && registerForm.userName.$error.required" class="error">
                User Name is required.
            </div>
            <div ng-show="registerForm.userName.$touched && registerForm.userName.$error.email" class="error">
                User Name is an email address.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="userPassword">Password</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="userPassword" id="userPassword" type="password" ng-model="account.password" ng-required="true" ng-trim="true" ng-minlength="6" />
        </div>
        <div class="col-md-4">
            <div ng-show="registerForm.userPassword.$touched && registerForm.userPassword.$error.required" class="error">
                Password is required.
            </div>
            <div ng-show="registerForm.userPassword.$touched && registerForm.userPassword.$error.minlength" class="error">
                Password must be at least 6 characters long.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="confirmPassword" id="confirmPassword" type="password" ng-model="account.confirmPassword" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-4">
            <div ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.$error.required" class="error">
                Confirm Password is required.
            </div>
            <div ng-show="registerForm.confirmPassword.$touched && account.password !== account.confirmPassword" class="error">
                Password and Confirm Password do not match.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-md-offset-3">
            <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid || account.password !== account.confirmPassword">
            Register</button>
        </div>
        <div class="col-md-3">
            <label class="error">{{account.registerMessage}}</label>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h5>Passwords must:</h5>
        <ul>
            <li>be at least 6 characters long</li>
            <li>have at least one uppercase letter ('A'-'Z')</li>
            <li>have at least one lowercase letter ('a'-'z')</li>
            <li>have at least one digit ('0'-'9')</li>
            <li>have at least one non letter or digit character</li>
        </ul>
    </div>
</div>
