﻿<form name="saveUserProfileForm" ng-submit="vm.saveUserProfile()" novalidate>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="screenName">Screen Name</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="screenName" id="screenName" type="text" ng-model="vm.screenName" ng-required="true" ng-trim="true" ng-minlength="4" ng-maxlength="20" />
        </div>
        <div class="col-md-4">
            <div ng-show="saveUserProfileForm.screenName.$touched && saveUserProfileForm.screenName.$error.required" class="error">
                Screen Name is required.
            </div>
            <div ng-show="saveUserProfileForm.screenName.$touched && saveUserProfileForm.screenName.$error.minlength" class="error">
                Screen Name must be between 4 and 20 characters long.
            </div>
            <div ng-show="saveUserProfileForm.screenName.$touched && saveUserProfileForm.screenName.$error.maxlength" class="error">
                Screen Name must be between 4 and 20 characters long.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="description">Description</label>
        </div>
        <div class="col-md-3">
            <textarea class="form-control vresize" rows="4" name="description" id="description" ng-model="vm.description" ng-trim="true"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="photoPath">Photo</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="photoPath" id="photoPath" type="url" ng-model="vm.photoPath" ng-trim="true" />
        </div>
        <div class="col-md-4">
            <div ng-show="saveUserProfileForm.photoPath.$touched && saveUserProfileForm.photoPath.$error.url" class="error">
                Not a valid URL.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="city">City</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="city" id="city" type="text" ng-model="vm.city" ng-required="true" ng-trim="true" />
        </div>
        <div class="col-md-4">
            <div ng-show="saveUserProfileForm.city.$touched && saveUserProfileForm.city.$error.required" class="error">
                City is required.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="statePicklist">State</label>
        </div>
        <div class="col-md-3">
            <select class="form-control" name="statePicklist" id="statePicklist" ng-required="true"
                    ng-options="option.name for option in vm.statePicklist.availableOptions track by option.code"
                    ng-model="vm.statePicklist.selectedOption"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="email">Email</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="email" id="email" type="email" ng-model="vm.email" ng-trim="true" />
        </div>
        <div class="col-md-3">
            <div ng-show="saveUserProfileForm.email.$touched && saveUserProfileForm.email.$error.email" class="error">
                Not a valid email address.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="doNotShowEmail">Do Not Show Email</label>
        </div>
        <div class="col-md-1">
            <input class="form-control" name="doNotShowEmail" id="doNotShowEmail" type="checkbox" ng-model="vm.doNotShowEmail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="contactByEmail">Can Contact Me By Email</label>
        </div>
        <div class="col-md-1">
            <input class="form-control" name="contactByEmail" id="contactByEmail" type="checkbox" ng-model="vm.contactByEmail" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="cellPhoneNumber">Cell Phone Number</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" name="cellPhoneNumber" id="cellPhoneNumber" type="tel" ng-model="vm.cellPhoneNumber" ng-trim="true" />
        </div>
        <div class="col-md-3">
            <div ng-show="saveUserProfileForm.cellPhoneNumber.$touched && saveUserProfileForm.cellPhoneNumber.$error.tel" class="error">
                Not a valid phone number.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="doNotShowPhone">Do Not Show Phone</label>
        </div>
        <div class="col-md-1">
            <input class="form-control" name="doNotShowPhone" id="doNotShowPhone" type="checkbox" ng-model="vm.doNotShowPhone" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <label for="contactByPhone">Can Contact Me By Phone</label>
        </div>
        <div class="col-md-1">
            <input class="form-control" name="contactByPhone" id="contactByPhone" type="checkbox" ng-model="vm.contactByPhone" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <button type="submit" class="btn btn-default" ng-disabled="saveUserProfileForm.$invalid">Save User Profile</button>
        </div>
        <div class="col-md-3">
            <label class="error">{{vm.saveUserProfileMessage}}</label>
        </div>
    </div>

</form>