﻿img {
    width: 100%;
    height:100%;
}

.photoWell{
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin: 10px;
}
.imageWell{
    padding: 0px;

}
.featVid {
    width: 100%;
    height:100%;
}

}

.well img{
    object-fit: fill;
}


.row {
    padding-left: 20px;
    padding-right: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* DLS: Commented out changing the background-color of touched inputs based on validity */

/*.ng-touched.ng-invalid {
    background-color: #FA787E;
}*/

/*.ng-touched.ng-valid {
    background-color:lightgreen;
}*/

.error {
    color: red;
}

.navbar {
  margin-bottom: 20px;
}

.carousel img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 00px;
  max-width: none;
}

#map {
    height:600px;
    width:1124px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.google-map {
    width: 100%;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 400px;
}

text-area
{
    max-width:400px;
    max-height: 400px;
}

      








